<h3>Tareas multicomponente</h3>
<!-- esto se pone para escuchar el evento que viene del hijo-->
<aub-nueva (addTarea)="onAddTarea($event)"></aub-nueva>

<div class="mt-3">
        <div  *ngIf="tareas.length; else sinLista">
            <div class="row">
                <h3 class="col-6">Lista de tareas</h3>
                <div class="col-6">
                    <button  [disabled]="!tareas.length" type="button" 
                    class="btn btn-danger btn-sm" title="Borrar todas las tareas"
                    (click)="onDeleteConfirm($event)">Borrar Lista</button>
                </div>
            </div>
            
            <ul class="list-group">
                <!-- directivas estructurales: ngFor y ngIf -->
                <li [ngClass]="{completed: item.isCompleted}" *ngFor="let item of tareas; let i = index"
                    class="list-group-item">
                    
                    <!-- esto es inyectarle valor al hijo desde el padre-->
                    <aub-tarea [item] = 'item' [i]="i" 
                    (onDelete)="onDeleteTarea($event)"
                    (onChange)="onChangeTarea($event)"
                    (onEdit)="onEditTarea($event)"></aub-tarea>
                    <!-- tb podría mandarse [item]='sendData(item)' y que
                    es método devolviera un clon de item, así mandas
                el clon directamente y no tienes que molestarte en 
            clonarlo en el hijo (return {...item} o algo más sofisticado)
        Esto lo suyo sería hacerlo así porque el que tiene que tener más lógica es el padre
    TODO: LUEGO HACER ESTO Y QUITAR EL CLONADO DEL HIJO -->
    <!-- los ondelete y onchange podrían unirse en un solo manejador que recibiera el 
    indice y la operacion a realizar.-->
                </li>
            </ul>
        </div>
        <!-- las templates de angular son templates html -->
        <ng-template #sinLista>
            <p>¡Anímate a añadir alguna tarea!</p>
        </ng-template>
    </div>
    <!-- los dialog son modales -->
<dialog #confirmar>
    <p>¿Estás segura de que quieres borrar toda la lista de tareas?</p>
    <button type="button" class="btn btn-primary btn-sm" (click)="onDeleteTareas(true)">Sí</button>
    <button type="button" class="btn btn-primary btn-sm" (click)="onDeleteTareas(false)">No</button>
</dialog>
