<h3>Saludo Referencia</h3>
<div class="form-group">
  <label for="nombre">Nombre</label>
  <!-- si usamos etiqueta tiene que coincider el for del label y el id del input -->
  <input type="text" class="form-control" #refNombre
    name="nombre" id="nombre" placeholder="Dime tu nombre">

    <!-- con el # he creado una referencia local que apunta al elemento DOM al que se le ha puesto
    la etiqueta -->
   
</div>
<!-- () es el operador de eventos de angular
    angular solo pasa el evento con $event -->
<button type="button" class="btn btn-primary" (click)="refNombre.value = ''">Borrar</button>
<div class="mt-3">
    <p>Hola {{ refNombre.value }}</p>
</div>

<!-- este binding tiene un cierto desfase de sincronización. Pero vamos, que esto
es para que veamos que se puede hacer, no se hace así. 
Esto no necesita NADA en el controller. Es para ver lo potente que es el lgj declarativo
de Angular.

Lo que interesa aquí es que existen referencias locales en el html. -->