<div class="form-check">
        <input type="checkbox" (change)="onChange($event)"
            [(ngModel)]=" item.isCompleted"
            class="form-check-input">
        <label class="form-check-label"
            [ngClass]="{completedspan: item.isCompleted}"
            (blur)="onEdit($event, i)"> 
            <!-- blur es perder el foco-->
            {{item.nombre}}
        </label> 
    
        <!-- esto se ha ido a la emojipedia, ha buscado "trashcan" y ha copiado el código-->
        <span class="boton" (click)="onModify($event, i)">✍️</span>
        <fa-icon [icon]="faTrashAlt" (click)="onDelete(i)"></fa-icon> 
        <!--directiva ngClass para gestionar las clases en angular, porque a 
        [class] solo se le puede pasar la clase, pero a ngClass se le puede
        pasar una estructura -->
    </div>
