<div class="form-group">
        <label for="nombre">Nueva tarea</label>
        <!-- si usamos etiqueta tiene que coincider el for del label y el id del input -->
        <input type="text" class="form-control" 
        [formControl]="fcNombreTarea"
        (keydown.enter)="onAddTarea($event)" id="nombre">
      
      <!-- en el input se podría poner [value]='nombre' (input)= 'nombre = value' 
      pero angular lo hace con ng-Model para el doble binding (que está en FormsModule, que hay 
      que importar en app.module y home.module) -->
      
        
</div>
 <!-- () es el operador de eventos de angular
  angular solo pasa el evento con $event -->
<button type="button" class="btn btn-primary" (click)="onAddTarea($event)">Añadir tarea</button>
