<div class="row">
        <header class="col-12 mb-3">
            <h3>Inscripciones a cursos</h3>
        </header>
        <!-- en angular hay formularios normales ngModel y reactivos formControl.
        Los normales se llaman Formularios Template-Driven (porque están basados en el template)
        Los de formulario son Model-Driven que están más basados en el modelo (controller) -->
    
        <!-- FORMULARIO TEMPLATE DRIVEN -->
        <div class="col-6">
            <aub-form-td></aub-form-td>
        </div>
        <!-- FORMULARIO MODEL DRIVEN -->
        <div class="col-6">
        <aub-form-md></aub-form-md>
        </div>
    
    </div>
    
