<h3>Formulario Model Driven</h3>
<form name="form-md" id="form-md" [formGroup]="formCurso">
        <fieldset>
            <legend>Datos de usuario</legend>
            <div class="form-group">
                <label for="nombre-md">Nombre</label>
                <input type="text" class="form-control"
                formControlName="nombre"
                id="nombre">
                <!-- el sustituto de gnModel es formContrlName-->
            </div>
            <!-- aqui no puedo acceder a ngModel porque no hay ngModel. Se va a acceder mediante formCurso-->
            <div class="error" *ngIf="formCurso.controls.nombre.touched && formCurso.controls.nombre.errors">
                <!-- tambien se puede acceder como formCurso.get('nombre').errors -->
                <p>Debe rellenar el campo nombre</p>
            </div>
            <div class="form-group">
                <label for="apellidos-md">Apellidos</label>
                <input type="text" class="form-control"
                formControlName="apellidos"
                id="apellidos">
            </div>
            <div class="error" *ngIf="formCurso.controls.apellidos.touched && formCurso.controls.apellidos.errors">
                <p>Debe rellenar el campo apellidos</p>
            </div>
            <div class="form-group">
                <label for="passwd-md">Contraseña</label>
                <input type="password" class="form-control" 
                formControlName="passwd" 
                id="passwd">
            </div>
            <div class="form-group">
                <label for="dni-md">DNI</label>
                <input type="text" class="form-control" 
                formControlName="dni" 
                id="dni">
            </div>
            <div class="form-group">
                <label for="email-md">Correo</label>
                <input type="email" class="form-control" 
                formControlName="email" 
                id="email" required>
            </div>
            <div class="form-group">
                <label for="nacim-md">Fecha de nacimiento</label>
                <input type="date" class="form-control" 
                formControlName="nacim" 
                id="nacim">
            </div>
            <div class="form-group">
                <label for="coment-md">Comentarios</label>
                <textarea class="form-control" 
                formControlName="comments" 
                id="coment" rows="3"></textarea>
            </div>
        </fieldset>
        <fieldset>
            <legend>Datos del curso</legend>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" 
                    formControlName="isOk">
                    Estoy de acuerdo con ....
                </label>
            </div>
            <div>
                <legend>Turno</legend>
                <div *ngFor="let turno of turnos" class="form-check">
                    <label class="form-check-label" [title]="turno.descripcion">
                        <input type="radio" class="form-check-input" 
                        formControlName="turno"
                        name="turno" [value]="turno" required>
                        {{turno.nombre}}
                    </label>
                    <!-- en el input, value sí admite objetos así que no hay que poner ngValue, pero en option no. -->
                </div>
              <!--  <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="turno" id="" value="tarde">
                        Tarde
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="turno" id="" value="noche">
                        Noche
                    </label>
                </div> -->
            </div>
            <div class="form-group">
                <label for="curso-md">Selecciona el tema</label>
                <select class="form-control" name="curso" 
                formControlName="curso"
                id="curso" required>
                    <option [ngValue]="curso" *ngFor="let curso of cursos"
                    [title]="curso.descripcion">{{curso.nombre}}</option>
    
    <!-- a value solo se le puede pasar algo de tipo string pero si se usa ngValue se le
    pueden pasar objetos.-->
    
                    <!--<option value=""></option>
                    <option value="angular">Angular</option>
                    <option value="react">React</option>
                    <option value="vue">Vue</option>-->
                </select>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary" [disabled]="formCurso.invalid">
            Enviar</button>
    </form>
    {{formCurso.value | json}}
           