<h3>Saludo Rx</h3>
<div class="form-group">
  <label for="nombre">Nombre</label>
  <!-- si usamos etiqueta tiene que coincider el for del label y el id del input -->
  <input type="text" class="form-control"
  [formControl] = "fcNombre"
    name="nombre" id="nombre" placeholder="Dime tu nombre">

<!-- formcontrol también hay que importarlo: reactiveFormsModule, en app.module y en home.module -->

   
</div>
<!-- () es el operador de eventos de angular
    angular solo pasa el evento con $event -->
<button type="button" class="btn btn-primary" (click)="onClickBorrar()">Borrar</button>
<div class="mt-3">
    <p>Hola {{fcNombre.value}}</p>
</div>